h5{
  font-weight: 400 !important;
  font-style: 1.25rem;
}
#block{
  display: flex;
  justify-content: space-between;
  .navbut{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.pricing-header{
  .lead{
    font-weight: lighter;
  }
  width: 700px;
}
.container{
  display: flex;
  flex-direction: column;
  max-width: 960px;
}
.card-deck .card {
  min-width: 300px;
}

.card-deck{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#nav a:hover{
  text-decoration: underline;
}



@media (min-width: 576px){
.card-deck {
    margin-right: -15px;
    margin-left: -15px;
  }
}

/* @media screen and (min-width: 1400px){
  .container{
    width: 30% !important;
  }
} */