body{
  margin: 0;
  padding: 0;
  font-family: inherit;
}
*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black !important;
  font-family: inherit;
}
#btn{
  border: 1px solid rgb(49, 157, 245);
  border-radius: 10px;
  display: inline-block;
  width: 270px;
}
.row li{
  font-weight: bold;
}
.row li:hover{
  text-decoration: underline;
}